.card {
  padding: 2em;
  display: column;
  justify-content: flex-start;
  margin-top: 4rem;
}

.list-container {
  text-align: initial;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.read-the-docs {
  color: #888;
}

.create-yaml-img {
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 800px;
}